<h2>About E-garage</h2>

<p>The e-garage idea was inspired by the number of people who find themselves
  in simple car accidents where only the headlights and side mirrors are affected, and they cant find an online service that specializes in the commodities.
  E-commerce allows you to order these products online and have them deliver to your doorstep. You can pay online as you order, or pay on delivery.
  You also opt for the mechanic option where the person to do the delivery ios an actual mechanic who can fix the item on your car and allow you to get back to business.
  We are currently available in Nairobi., but we are coming soon to a town near you.
  Watch out!!</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}

{{#link-to 'index'}}Home{{/link-to}}
