<h1> Welcome to E-garage </h1>

We hope you find exactly what you need for your car.

{{#each model as |product|}}
  {{product-tile product=product}}
{{/each}}

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
