<h1> Welcome to E-garage </h1>

We hope you find exactly what you need for your car.

{{#each model as |product|}}
  {{product-tile product=product destroyProduct="destroyproduct"}}
{{/each}}

{{new-product saveProduct2="saveProduct3"}}

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
